<!-- <section class="container-btn-navbar">
    <button class="nav-button-principal"> <img src="assets/dashboard.svg" alt="dashboard">Tous</button>
    <button class="nav-button"> <img src="assets/book.svg" alt="book">Livres</button>
    <button class="nav-button"> <img src="assets/game.svg" alt="game">Jeux</button>
    <button class="nav-button">Autre</button>
</section> -->

<section class="container-btn-navbar">
    <button class="nav-button-principal">
        <img src="assets/dashboard.svg" alt="dashboard">
        Tous
    </button>
    <button class="nav-button">
        <img src="assets/book.svg" alt="book">
        Livres
    </button>
    <button class="nav-button">
        <img src="assets/game.svg" alt="game">
        Jeux
    </button>
    <button class="nav-button">
        Autre
    </button>
</section>
